In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix

In [2]:
df=pd.read_csv('Gini.csv',index_col=0)

In [3]:
df.head(10)

        Weather Parents Money  Decision
Weekend
1         Sunny     Yes  Rich    Cinema
2         Sunny      No  Rich    Tennis
3         Windy     Yes  Rich    Cinema
4         Rainy     Yes  Poor    Cinema
5         Rainy      No  Rich   Stay-In
6         Rainy     Yes  Poor    Cinema
7         Windy      No  Poor    Cinema
8         Windy      No  Rich  Shopping
9         Windy     Yes  Rich    Cinema
10        Sunny      No  Rich    Tennis

In [4]:
df['Weather'].replace('Sunny',0,inplace=True)

In [5]:
df['Weather'].replace('Windy',1,inplace=True)
df['Weather'].replace('Rainy',2,inplace=True)

In [6]:
df.head(10)

         Weather Parents Money  Decision
Weekend
1              0     Yes  Rich    Cinema
2              0      No  Rich    Tennis
3              1     Yes  Rich    Cinema
4              2     Yes  Poor    Cinema
5              2      No  Rich   Stay-In
6              2     Yes  Poor    Cinema
7              1      No  Poor    Cinema
8              1      No  Rich  Shopping
9              1     Yes  Rich    Cinema
10             0      No  Rich    Tennis

In [7]:
df['Parents'].replace('No',0,inplace=True)
df['Parents'].replace('Yes',1,inplace=True)

In [8]:
df.head(10)

         Weather  Parents Money  Decision
Weekend
1              0        1  Rich    Cinema
2              0        0  Rich    Tennis
3              1        1  Rich    Cinema
4              2        1  Poor    Cinema
5              2        0  Rich   Stay-In
6              2        1  Poor    Cinema
7              1        0  Poor    Cinema
8              1        0  Rich  Shopping
9              1        1  Rich    Cinema
10             0        0  Rich    Tennis

In [9]:
df['Money'].replace('Poor',0,inplace=True)
df['Money'].replace('Rich',1,inplace=True)

In [10]:
df.head(10)

         Weather  Parents  Money  Decision
Weekend
1              0        1      1    Cinema
2              0        0      1    Tennis
3              1        1      1    Cinema
4              2        1      0    Cinema
5              2        0      1   Stay-In
6              2        1      0    Cinema
7              1        0      0    Cinema
8              1        0      1  Shopping
9              1        1      1    Cinema
10             0        0      1    Tennis

In [11]:
df['Decision'].replace('Cinema',0,inplace=True)
df['Decision'].replace('Tennis',1,inplace=True)
df['Decision'].replace('Stay-In',2,inplace=True)
df['Decision'].replace('Shopping',3,inplace=True)

In [12]:
df.head(10)

         Weather  Parents  Money  Decision
Weekend
1              0        1      1         0
2              0        0      1         1
3              1        1      1         0
4              2        1      0         0
5              2        0      1         2
6              2        1      0         0
7              1        0      0         0
8              1        0      1         3
9              1        1      1         0
10             0        0      1         1

In [13]:
x=df.iloc[:,:3]
y=df.iloc[:,-1]

In [14]:
y.head(10)

Weekend
1     0
2     1
3     0
4     0
5     2
6     0
7     0
8     3
9     0
10    1
Name: Decision, dtype: int64

In [15]:
from sklearn import tree
#display tree
import pydotplus
from io import StringIO
from IPython.display import display,Image

In [46]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [47]:
print(x_train.shape,x_test.shape)
print(y_train.shape,y_test.shape)

(7, 3) (3, 3)
(7,) (3,)

In [48]:
clf=tree.DecisionTreeClassifier(criterion='gini',random_state=0)

In [49]:
clf=clf.fit(x_train,y_train)

In [50]:
y_pred=clf.predict(x_test)

In [51]:
print(y_pred,y_test)

[0 1 3] Weekend
3     0
10    1
7     0
Name: Decision, dtype: int64

In [53]:
print("The accuracy of the Decision Tree classifier on training data is     {:.2f}".format(clf.score(x_train, y_train)))
print("The accuracy of the Decision Tree classifier on test data is     {:.2f}".format(clf.score(x_test, y_test)))
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))  
print("\nClassiification Report:")
print(classification_report(y_test, y_pred))

The accuracy of the Decision Tree classifier on training data is     1.00
The accuracy of the Decision Tree classifier on test data is     0.67

Confusion Matrix:
[[1 0 1]
 [0 1 0]
 [0 0 0]]

Classiification Report:
              precision    recall  f1-score   support

           0       1.00      0.50      0.67         2
           1       1.00      1.00      1.00         1
           3       0.00      0.00      0.00         0

    accuracy                           0.67         3
   macro avg       0.67      0.50      0.56         3
weighted avg       1.00      0.67      0.78         3

D:\Anaconda\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\Anaconda\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\Anaconda\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))